*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
    background-color: white;
    gap: 4em;
    padding: 20px 10px;
    border: none;
}
.alt{
    display: none;
}
.alt-btn{
    padding: 10px 60px;
    display: flex;
    gap: 60px;
    border-radius: 20px;
    border: thin solid #0070BA;
    /* border-color: #0070BA; */
    background-color: #FFFFFF;
}
.altp{
    color: #0070BA;
}
.alt-btn2{
    padding: 10px 30px;
    border-radius: 20px;
    border: thin solid #0070BA;
    background-color: #FFFFFF;
    color: #0070BA;
}
.fa-bars{
    color: #0070BA;
}
.menu-rel{
    position: relative;
}
.personal{
    color: black;
}
.personal-abs{
    position: absolute;
    display: none;
}
.btns{

    gap: 20px;
}
.btn{
    border: thin solid blue;
    padding: 10px 20px;
    border-radius: 17px;
}
.log-in{
    background-color: transparent;
}
.login{
    color: #005EA6;
}
.sign-up{
    background-color: #0070BA;
}
.signup{
    color: white;
}

/* --media-querry at 768px--- */
@media (max-width:768px){
    nav{
        display: none;
    }
    .alt{
        display: block;
        display: flex; 
        justify-content: space-around;
        gap: 1em;
    }
}
@media (max-width:560px){
    .alt-btn{
        padding: 10px 40px;
    }
    .alt-btn2{
        padding: 10px 25px;
    }
}
@media (max-width: 396px){
    .alt-logo{
        width: 60px;
    }
    .alt-btn2{
        padding: 10px 20px;
    }
}
@media (max-width: 366px){
    .alt{
        gap: .5em;
    }
    .alt-btn{
        padding: 8px 30px;
    }
    .alt-btn2{
        padding: 8px 15px;
    }
}
@media (max-width:459px){
    nav{
        gap: 1em;
    }
    .btn{
        padding: 5px 10px;
    }
    .logo{
        width: 100px;
    }
}
section{
    width: 100%;
}
.hero-img{
    position: relative;
    height: 75vh;
}
.txt1{
    position: absolute;
    top: 300px;
    right: 400px;
    font-size: 36px;
    color: white;
}
.hero-btn{
    position: absolute;
    padding: 15px 80px;
    border-radius: 40px;
    border: none;
    background-color: #0070BA;
    position: absolute;
    bottom: 200px;
    left: 500px;
    right: 500px;
    color: white;
    font-size: 16px;
}
.sect2{
    border: thin solid black;
    padding: 10px 50px 0px 100px;
    border: none;
}
.sect2p1{
    border: 2px solid blue;
    padding: 20px auto;
    text-align: center;
    border: none;
}
.sect2p2{
    border: 2px solid blue;
    padding: 50px 10px 0px;
    text-align: center;
    border: none;
}
.sect2-lst{
    display: flex;
    justify-content: center;
    gap: 3em;
}
.sect3-list{
    display: flex;
    justify-content: space-around;
}
.div3{
    border: thin solid black;
    padding: 10px 400px;
    border: none;
} 
.sect3-btn{
    padding: 20px 100px;
    border-radius: 40px;
    background-color: transparent;
    border-color: #0070BA;
    border: thin solid #0070BA;
    margin-bottom: 20px;
}
.anchor3{
    color: #0070BA;
}
.sect4{
    border: thin solid #0070BA;
    padding: 50px 20px;
    background-color: #0050A0;
}
.sect4p{
    border: 2px solid red;
    padding: 20px 0px 15px 0px;
    text-align: center;
    border: none;
    color: white;
}
.sect4-txt{
    display: flex;
    justify-content: space-around;
    gap: 2em;
}
.sect4lp1 {
    color: #FFFFFF;
}
.sect4lp2 {
    color: #FFFFFF;
}
.sect4lp3a{
    color: #FFFFFF;
}
.sect4mp1 {
    color: #FFFFFF;
}
.sect4mp2 {
    color: #FFFFFF;
}
.sect4mp3a{
    color: #FFFFFF;
}
.sect4rp1  {
    color: #FFFFFF;
}
.sect4rp2{
    color: #FFFFFF;
}
.sect4rp3a{
    color: #FFFFFF;
}
.sect5{
    border: 2px solid green;
    padding: 100px 500px;
    border: none;
}
.secth5{
    border: thin solid black;
    padding: 10px 10px;
    color: black;
    border: none;
}
.sect5-btn{
    padding: 15px 100px;
    border-radius: 25px;
    background-color: #0070BA;
    border: none;
}
.sect5a{
    color: #FFFFFF;
}
footer{
    border: thin solid blue;
    padding: 70px 50px;
    border: none;
}
.top-ftr{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.top-lst{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}
.nig-logo{
    height: 3vh;
}
hr{
    width: 80%;
    margin: auto;
}
.dwn-ftr{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.lft-lst{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}
.rgt-lst{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}
.ftr-p{
    font-size: 12px;
    margin: 0px 0px 0px 120px;
}
.ftra{
    color: black;
}