*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
    background-color: white;
    gap: 4em;
    padding: 20px 10px;
    border: none;
}
.alt{
    display: none;
}
.alt-btn{
    padding: 10px 60px;
    display: flex;
    gap: 60px;
    border-radius: 20px;
    border: thin solid #0070BA;
    /* border-color: #0070BA; */
    background-color: #FFFFFF;
}
.altp{
    color: #0070BA;
}
.alt-btn2{
    padding: 10px 30px;
    border-radius: 20px;
    border: thin solid #0070BA;
    background-color: #FFFFFF;
    color: #0070BA;
}
.fa-bars{
    color: #0070BA;
}
.menu-rel{
    position: relative;
}
.personal{
    color: black;
}
.personal-abs{
    position: absolute;
    display: none;
}
.btns{

    gap: 20px;
}
.btn{
    border: thin solid blue;
    padding: 10px 20px;
    border-radius: 17px;
}
.log-in{
    background-color: transparent;
}
.login{
    color: #005EA6;
}
.sign-up{
    background-color: #0070BA;
}
.signup{
    color: white;
}

/* --media-querry at 768px--- */
@media (max-width:768px){
    nav{
        display: none;
    }
    .alt{
        display: block;
        display: flex; 
        justify-content: space-around;
        gap: 1em;
    }
}
@media (max-width:560px){
    .alt-btn{
        padding: 10px 40px;
    }
    .alt-btn2{
        padding: 10px 25px;
    }
}
@media (max-width: 396px){
    .alt-logo{
        width: 60px;
    }
    .alt-btn2{
        padding: 10px 20px;
    }
}
@media (max-width: 366px){
    .alt{
        gap: .5em;
    }
    .alt-btn{
        padding: 8px 30px;
    }
    .alt-btn2{
        padding: 8px 15px;
    }
}
@media (max-width:459px){
    nav{
        gap: 1em;
    }
    .btn{
        padding: 5px 10px;
    }
    .logo{
        width: 100px;
    }
} 
.hero{
    background-image: url(../images/buy-oline-6.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.hero-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8em;
    position: absolute;
    top: 133px;
    left: 100px;
}
.hero-left{
    border: thin solid black;
    padding: 0px 30px 10px 0px;
    border: none;
}
.chk-out{
    font-size: 32px;
}
.hero-btn{
    padding: 10px 70px;
    border-radius: 35px;
    background-color: #0070BA;
    border: thick solid #0070BA;
}
.hero-btna{
    color: #FFFFFF;
}
.anchor{
    color: #0070BA;
}
.herob{
     background-color: #333333;
}
.hero-b{
    display: flex;
    justify-content: space-around;
    padding: 40px 50px;
    width: 100%;
    align-items: center;
}
.alph{
    border: thin solid white;
    padding: 15px 15px;
    border-radius: 30px;
    color: #FFFFFF;
}
.txt{
    color: #FFFFFF;
}
.heroc{
    padding: 100px 100px;
    text-align: center;
}
.p2a{
    font-size: 32px;
}
.herod{
    background-image: url(../images/buy-oline-3.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}
.herod-img{
    position: relative;
}
.herod-txt1{
    position: absolute;
    top: 1200px;
    right: 250px;
    font-size: 22px;
}
.herod-txt2{
    position: absolute;
    top: 1230px;
    right: 130px;
}
.herod-txt3{
    position: absolute;
    top: 1280px;
    right: 360px;
    font-weight: 600;
}
.heroda{
     color: #005EA6;
}
.sect2div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sect2p1{
    font-size: 26px;
}
.sect2p2{
    font-size: 18px;
}
.sect2b{
    background-color: #003087;
}
.sect2bp{
    padding: 80px;
    text-align: center;
    color: #FFFFFF;
    font-size: 44px;
}
.sect2c{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 10px 0px;
}
.sect2cp1{
    font-size: 32px;
}
.sect2cp3{
    color: #0070BA;
}
.sect2d{
    background-image:url(../images/buy-oline-1a.webp);
    border: thin solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}
.sect2d-txt1{
    font-size: 32px;
    padding: 40px;
    position: absolute;
    color: #F7F9FA;
    top: 180px;
    left: 80px;
}
.sect2d-txt2{
    position: absolute;
    color: #F7F9FA;
    top: 270px;
    left: 120px;
}
.sect2e{
    text-align: center;
}
.sect2e-txt{
    color: #0070BA;
    border: 2px solid black;
    padding: 70px 50px 60px 50px;
    font-size: 34px;
    border: none;
}
.box{
    border: thin solid pink;
    padding: 70px;
    border: none;
}
.sect5{
    background-color: #333333;
    text-align: center;
}
.sect5-txt1{
    font-size: 32px;
    color: white;
}
.sect5-txt2{
    font-size: 18px;
    color: #FFFFFF;
}
.sect5-txt3{
    color: #FFFFFF;
}
.last-sect{
    background-color: #F7F9FA;
}
.last-part{
    border: thin solid yellow;
    padding: 90px;
    text-align: center;
    border: none;
}
.lastp{
    font-size: 28px;
}
.last-btn{
    border: thick solid #0070BA;
    padding: 10px 120px;
    border-radius: 20px;
    background-color: #0070BA;
}
.last-btna{
    color: #FFFFFF;
}









footer{
    border: thin solid blue;
    padding: 70px 50px;
    border: none;
}
.top-ftr{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.top-lst{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
}
.nig-logo{
    height: 3vh;
}
hr{
    width: 80%;
    margin: auto;
}
.dwn-ftr{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.lft-lst{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
}
.rgt-lst{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
}
.ftr-p{
    font-size: 12px;
    margin: 0px 0px 0px 120px;
}
.ftra{
    color: black;
}