*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style-type: none; */
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
    background-color: white;
    gap: 4em;
    padding: 20px 10px;
    border: none;
}
.alt{
    display: none;
}
.alt-btn{
    padding: 10px 60px;
    display: flex;
    gap: 60px;
    border-radius: 20px;
    border: thin solid #0070BA;
    /* border-color: #0070BA; */
    background-color: #FFFFFF;
}
.altp{
    color: #0070BA;
}
.alt-btn2{
    padding: 10px 30px;
    border-radius: 20px;
    border: thin solid #0070BA;
    background-color: #FFFFFF;
    color: #0070BA;
}
.fa-bars{
    color: #0070BA;
}
.menu-rel{
    position: relative;
}
.personal{
    color: black;
}
.personal-abs{
    position: absolute;
    display: none;
}
.btns{

    gap: 20px;
}
.btn{
    border: thin solid blue;
    padding: 10px 20px;
    border-radius: 17px;
}
.log-in{
    background-color: transparent;
}
.login{
    color: #005EA6;
}
.sign-up{
    background-color: #0070BA;
}
.signup{
    color: white;
}

/* --media-querry at 768px--- */
@media (max-width:768px){
    nav{
        display: none;
    }
    .alt{
        display: block;
        display: flex; 
        justify-content: space-around;
        gap: 1em;
    }
}
@media (max-width:560px){
    .alt-btn{
        padding: 10px 40px;
    }
    .alt-btn2{
        padding: 10px 25px;
    }
}
@media (max-width: 396px){
    .alt-logo{
        width: 60px;
    }
    .alt-btn2{
        padding: 10px 20px;
    }
}
@media (max-width: 366px){
    .alt{
        gap: .5em;
    }
    .alt-btn{
        padding: 8px 30px;
    }
    .alt-btn2{
        padding: 8px 15px;
    }
}
@media (max-width:459px){
    nav{
        gap: 1em;
    }
    .btn{
        padding: 5px 10px;
    }
    .logo{
        width: 100px;
    }
}
section{
    width: 100%;
}
.hero-img{
    position: relative;
    height: 68vh;
}
.txt1{
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 36px;
    color: black;
}
.txt2{
    position: absolute;
    color: black;
    position: absolute;
    left: 100px;
    bottom: 320px;
}
.hero-btn{
    position: absolute;
    padding: 10px 80px;
    border-radius: 40px;
    border: none;
    background-color: #0070BA;
    position: absolute;
    bottom: 160px;
    left: 100px;
    color: white;
    font-size: 16px;
}
.sect2{
    height: 50vh;
}
.sub-section{
    display: flex;
    justify-content: space-around;
    background-color: #333333;
    color: #FFFFFF;
    height: 17vh;
    align-items: center;
}
.sect2b{
    height: 30vh;
    color: #FFFFFF;
    align-items: center;
    border: 2px solid red;
    border: none;
}
.sect2txt1{
    color: #333333;
    text-align: center;
}
.sect2txt2{
    color: #333333;
    text-align: center;
    margin-bottom: 50px;
}
.sect3-img{
    height: 68vh;
    position: relative;
}
.sect3-txt{
    position: absolute;
    top: 1200px;
    right: 200px;
}
.sect3-txt1{
    font-size: 24px;
}
.div2{
    background-color: #003087;
    height: 40vh;
}
.sect3-txt3{
    border: brown;
    text-align: center;
    padding: 65px 0px 0px 0px;
    font-size: 42px;
    color: #FFFFFF;
}
.sect4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: thin solid black;
    padding: 20px 0px 0px 0px;
}
.sect4-txt1{
    font-size: 28px;
}
.sect4a{
    color: #0070BA;
}
.box{
    border: thin solid pink;
    padding: 70px;
    border: none;
}
.sect5{
    background-color: #333333;
    text-align: center;
}
.sect5-txt1{
    font-size: 32px;
    color: white;
}
.sect5-txt2{
    font-size: 18px;
    color: #FFFFFF;
}
.sect5-txt3{
    color: #FFFFFF;
}
.last-sect{
    background-color: #F7F9FA;
}
.last-part{
    border: thin solid yellow;
    padding: 90px;
    text-align: center;
    border: none;
}
.lastp{
    font-size: 28px;
}
.last-btn{
    border: thick solid #0070BA;
    padding: 10px 120px;
    border-radius: 20px;
    background-color: #0070BA;
}
.last-btna{
    color: #FFFFFF;
}









footer{
    border: thin solid blue;
    padding: 70px 50px;
    border: none;
}
.top-ftr{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.top-lst{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
}
.nig-logo{
    height: 3vh;
}
hr{
    width: 80%;
    margin: auto;
}
.dwn-ftr{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.lft-lst{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
}
.rgt-lst{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    list-style-type: none;
}
.ftr-p{
    font-size: 12px;
    margin: 0px 0px 0px 120px;
}
.ftra{
    color: black;
}